{{ define "header" }}
  {{ partial "style.html" . }}
  {{ partial "gl_canvas.html" (dict "id" "pink_mint_wave") }}
  {{ partial "link_bar.html" . }}
{{ end }}

{{ define "head" }}
  {{ partial "meta.html" . }}
{{ end }}

{{ define "main" }}

{{ partial "shader_thumbnail_style.html" }}

<h1>Gallery</h1>
A collection of shaders and generative art I made (using math and <a href="https://www.khronos.org/opengl/wiki/OpenGL_Shading_Language">GLSL</a>). Click on the images below to go to a full-screen, animated
page. Pressing <b>Ctrl+R</b> to refresh the pages also re-seeds the RNG, usually resulting in a different pattern each time.
<br><br>
<b>Warning</b>: While intended to be viewable by all, audiences with photosensitivity should proceed with caution.

<br><br>
Code for all creations shown is available under CC BY-NC License <a href="https://github.com/Clemapfel/rat_game_website/tree/main/static/render">on my GitHub</a>.

<hr>
{{ partial "shader_thumbnail.html" (dict "id" "neuron_string" "title" "Neuron String") }}
{{ partial "shader_thumbnail.html" (dict "id" "swingy_lines" "title" "Swingy Lines") }}
{{ partial "shader_thumbnail.html" (dict "id" "pink_mint_wave" "title" "Pink Mint Wave") }}
{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
