{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "header" }}
  {{ partial "bg_image.html" }}

<style>
main {
    padding-top: 3em;
    margin-top:-3em;
    background-color: #1d1d1d;
}
</style>

{{ end }}

{{ define "main" }}
  {{ if ne $.Site.Params.hackcss.disabled true }}
    {{ with resources.Get "css/conditional/layouts/post/single.css" | minify }}
      <style>{{ .Content | safeCSS }}</style>
    {{ end }}
  {{ end }}
  <article itemscope itemtype="https://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}

    <header>
      <span class="muted" style="float:inherit; position:relative; top:1em;" id="Title">
        <a href="/post" style="color:#00f7c6;"> << back to index</a>
      </span>
      <h1 itemprop="headline name" style="color:#00f7c6">{{ .Title }}</h1>
      <hr style="border:1px solid #e92d7d"> </hr>
      <p class="muted">
        {{ partial "post/meta.html" . }}
        {{ partial "post/related-content.html" . }}
      </p>
      <br>

      {{ if .Description }}
        <blockquote itemprop="description">{{ .Description }}</blockquote>
      {{ end }}
      {{ partial "image/header.html" . }}
    </header>
    <div itemprop="articleBody">
        <span class="muted" style="float:right; position:relative; top:-1em;">
          <a href="#Comments" style="color:#00f7c6; ">&#11015; jump to comments</a>
        </span>
        <br>
      <span style="float:none; position:relative; top:-3em">
      {{ .Content }}
      </span>
      <span class="muted" style="float:right; position:relative; top:5em;">
        <a href="#Title" style="color:#00f7c6;">&#11014; jump to beginning</a>
      </span>
      {{ partial "comments.html" }}
    </div>

  </article>
{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" }}
{{ end }}

