<div>
    <div id="link_bar" style="position: relative; top: +0.5em;">
        <a href="./welcome" title="go to landing page">[welcome]</a>
        <a href="./about" title="curriculum vitae">[about]</a>
        <a href="./portfolio" title="completed programming projects">[portfolio]</a>
        <a href="https://clemens-cords.com/mousetrap" title="mousetrap.jl GUI engine">[mousetrap]</a>
        <a href="https://clemens-cords.com/jluna" title="jluna: Julia wrapper for C++">[jluna]</a>
        <a href="./contact" title="how to contact me">[contact]</a>
    </div>
    <div id="gallery_button">
    <a href="./post/" title="click me">
        <img src="./rat_icon.png" max-height="5%" width="12%" height="12%" style="float:right; position:relative; z-index:1000; top:-2em;">
    </a>
    </div>
    <hr style="border:1px solid #e92d7d;"> </hr>
</div>