<div>
    <div id="link_bar" style="position: relative; top: +0.5em;">
        <a href="./welcome" title="go to landing page">[welcome]</a>
        <a href="./about" title="curriculum vitae">[about]</a>
        <a href="./past_work" title="completed programming projects">[past work]</a>
        <a href="./contact" title="how to contact me">[contact]</a>
    </div>
    <div id="gallery_button">
    <a href="./post" title="go to gallery">
        <img src="./rat_icon.png" max-height="5%" width="12%" height="12%" style="float:right; position:relative; z-index:1000; top:-2em;">
    </a>
    </div>
    <hr style="border:1px solid #e92d7d;"> </hr>
</div>