<style>

    a[rel*="external"]::after {
        content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23ff9800'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
    }

    nav a.active {
        background-color: inherit;
        color: #fff;
    }
    a[itemprop="url"] {
        color: #ff9800;
    }
    a[itemprop="url"]:hover {
        color: #fff;
    }
    .muted, .help-block {
        opacity: 0.70;
    }
    .hack .muted,
    .hack .help-block {
        color: #e0e0e0;
    }

    body {
        font-family: "DejaVu Sans";
        background-image: url("/background.jpg");
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
    }

    div {
        background-color: #1d1d1d
    }

    canvas {
        position:fixed;
        top:0;
        left:0;
        z-index:-1;

        height: 100vh;
        width: 100vw;
    }

    header {
        padding-left: 4em;
        margin-left: -4em;
        padding-right: 4em;
        margin-right: -4em;

        padding-top: 3em;
        margin-top: -3em;
        padding-bottom: 2em;
        margin-bottom: -3em;

        min-height: 10vh;

        background-color: #1d1d1d;
    }

    main {
        padding-left: 4em;
        margin-left: -4em;
        padding-right: 4em;
        margin-right: -4em;
        padding-bottom: 1em;

        min-height: 80vh;

        background-color: #1d1d1d;
    }

    footer {
        padding-left: 4em;
        margin-left: -4em;
        padding-right: 4em;
        margin-right: -4em;

        min-height: 8vh;

        margin-top: -2em;
        background-color: #1d1d1d
    }

    .collapsible {
        background-color: inherit;
        color: white;
        cursor: pointer;
        padding-left:1ch;
        width: 100%;
        border: none;
        text-align: left;
        outline: transparent;
        font-size: 15px;
        background-color:inherit;
        border-left: solid #e92d7d;
        border-width: 2px;

    }

    .active, .collapsible:hover {
        color:white;
        background-color:#e92d7d;
        border:solid #e92d7d;
    }

    .content {
        padding-top:2px;
        padding: 1em;
        display: none;
        overflow: hidden;
        background-color: inherit;
        border-left:solid #e92d7d;
        border-right:solid #e92d7d;
        border-bottom: solid #e92d7d;
    }

    #link_bar a {
        padding-left:0em;
        padding-right:0.5em;
        padding-top:1em;
        padding-bottom:0.5em;
        font-weight:bold;
        font-size:20px;
        border: 0px transparent;
        text-align:center;
    }
    #link_bar a:link { color:#00f7c6;}
    #link_bar a:visited { color:#00f7c6;}
    #link_bar a:hover { color:#ffffff; background-color:transparent; }
    #link_bar a:active { color:#ffffff; background-color:#00f7c6; }

    #gallery_button a {;}
    #gallery_button img:hover {
        border: 4px solid  #e92d7d;
        border-radius: 1000px;
    }

    selected {color:#ffffff;}

    header {
        padding-left: 4em;
        margin-left: -4em;
        padding-right: 4em;
        margin-right: -4em;

        padding-top: 3em;
        margin-top: -3em;
        padding-bottom: 2em;
        margin-bottom: -3em;

        min-height: 10vh;
        background-color: #1d1d1d;
    }

    </style>

</style>